<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="ToDoEntities" connectionString="metadata=res://*/ToDoModel.csdl|res://*/ToDoModel.ssdl|res://*/ToDoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ToDo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>